<h1> Crear Quiniela</h1>

<form action="/schedule/create" method="POST">
    {% csrf_token %}

{% for x in list %}
<div style="display:flex">
   <label for="" style="width: 100px;">{{x.local}} &#127474;&#127468;</label> 
   <input type="number" value="0" required max="9" min="0" name="local{{x.id}}"> - 
   <input type="number" value="1" required max="9" min="0" name="visitor{{x.id}}">
   <label for="" style="width: 100px">{{x.visitor}}</label>
</div>
{% endfor %}
<button type="submit">Enviar Quiniela</button>



</form>